

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 250 1000;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff2') format('woff2-variations'), url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff') format('woff-variations');
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
font-family: 'TildaSans';
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
   
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
